
<div class="p-5">

    <p-card >
        <div class="grid justify-content-between">
            <div class="col-3 flex gap-4 align-items-center">
                <img src="../../../assets/images/user.png" class="imageProf">
                <div class="flex flex-column gap-2">
                    <h2>Display Name</h2>
                    <p-button [style]="{'width':'100%','border-radius': '40px'}" 
                    label="following" [rounded]="true" severity="help" />
                </div>
            </div>
            <div class="col-3">
                <h2>saalam</h2>
            </div>
        </div>
    </p-card>
</div>

