@if(photos && isCurrentUser){

<div class="flex flex-column gap-2 align-items-start">

    <div>
        <p-button (onClick)="toggleEditeMode()" [style]="{'width':'17rem','border-radius': '15px'}"
            [label]="editMode?'CANCLE':'ADD PHOTO'" [rounded]="true" severity="secondary" />
    </div>
    @if (!editMode) {

    <p-galleria [style]="{'width':'30rem'}" [value]="photos" [responsiveOptions]="responsiveOptions"
        [containerStyle]="{ 'max-width': '640px' }" [numVisible]="1">
        <ng-template pTemplate="item" let-item style="position: relative;">
            <img [src]="item.url" style="width: 100%;" />
            <div class="buttonImage">
                <button class="setMainButton" (click)="setMainPhoto(item.id)">Set Main <i class="pi pi-file-check"></i></button>
                <button class="deleteButton" (click)="deletePhoto(item.id)">Delete <i class="pi pi-file-excel"></i></button>
            </div>
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
            <div class="grid grid-nogutter justify-content-center">
                <img [src]="item.url"  style="width: 5rem;" />
            </div>
        </ng-template>
    </p-galleria>
    }@else {
    <div class="grid gap-3 w-full">
        <div class="col-6">
            <app-image-uploader (emitCropper)="emitCropper($event)" (emitSuccessImage)="emitSuccessImage($event)" style="width:100%;"></app-image-uploader>
        </div>

        <div class="col-4">
            <div *ngIf="croppedImage">
                <h4>Preview:</h4>
                <img [src]="croppedImage" class="preview-img" />
            </div>
        </div>
    </div>
    }
</div>


}@else {
<h2>there is no photo here to showing...</h2>
}