:host ::ng-deep .p-dropdown.p-component.p-inputwrapper {
 width: 100%;
}
:host ::ng-deep  .p-calendar {
 width: 100%;
}
:host ::ng-deep .p-calendar .p-datepicker {
 min-width: 60%;
}
:host ::ng-deep .p-autocomplete,
:host ::ng-deep .p-autocomplete-input {
  width: 100% !important;
}