<nav class="navbar navbar-expand-lg custom-navbar" 
     style="background: linear-gradient(90deg, #0D47A1 0%, #86b4e2ff 100%); color: #fff;">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    
   
    <div class="d-flex align-items-center gap-2">
      <i class="pi pi-users text-3xl"></i>
      <a class="navbar-brand text-white font-bold text-3xl" href="/">Reactivities</a>
    </div>

    
    <div class="d-flex gap-3">
      <a class="text-white text-decoration-none" 
         routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
         Activities
      </a>
      <a class="text-white text-decoration-none" 
         routerLink="salam" routerLinkActive="active">
         Contact
      </a>
      <a class="text-white text-decoration-none" 
         routerLink="salam" routerLinkActive="active">
         Activities
      </a>
    </div>

    
    <div>
      <p-button label="CREATE ACTIVITY" severity="warning" (onClick)="dashboard.createMode()" 
                [style]="{'border-radius':'5px','box-shadow': '0 4px 10px rgba(0, 0, 0, 0.2)'}">
      </p-button>
    </div>

  </div>
</nav>

<app-activitydashboard #dashboard></app-activitydashboard>











