<div class="min-h-full home-container text-white
 flex justify-content-center 
 align-items-center" >

 <div class="w-6 h-12rem flex flex-column mb-8 
 justify-content-center align-items-center">
   
  <div class="flex gap-3">
     <i class="bi bi-people-fill text-8xl"></i>
     <h1 class="text-8xl" style="margin-top: 11px;">Reactivities</h1>
   </div>
   <p class="text-7xl">Welcome to reactivities</p>

   <p-button label="TAKE ME TO THE ACTIVITIES" (onClick)="goToActivities()"
   severity="info" [text]="true" [style]="{'border-radius':'5px',
   'box-shadow': '0 4px 10px rgba(0, 0, 0, 0.2)', 'padding':'1.5rem 3rem',
    'font-size':'1.5rem','color':'white'}" />

</div>

</div>