<div class=" p-8 min-h-full" style="background-color: #eeeeee;">

<!-- 
 <p-card [header]="activityDetail.title" [style]="{'border-radius':'10px'}">
            <ng-template pTemplate="header">
                <img alt="Card" style="border-radius: 10px;"
                    [src]="'../../../assets/images/categoryImages/' + activityDetail['category'] + '.jpg'" />
            </ng-template>
            <ul>
                <li>{{activityDetail['title']}}</li>
                <li>{{activityDetail['date']}}</li>
                <li>{{activityDetail['description']}}</li>
                <li>{{activityDetail['city']}}/{{activityDetail['venue']}}</li>
            </ul>
            <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1">
                    <p-button label="Edit" [text]="true"  />
                    <p-button label="Cancel" severity="secondary" [text]="true" />
                </div>
            </ng-template>
        </p-card> -->

<p-card header="saala" [style]="{'border-radius':'10px'}">
    <h2>salam</h2>
</p-card>








</div>
