<div class=" p-8 min-h-full" style="background-color: #eeeeee;">

    @if(this.activityDetail){

    <div class="grid">
        <div class="col-8 ">
            <div class="relative">

                <img alt="Card" style="border-radius: 15px;"  class="w-full" 
                [src]="'../../../assets/images/categoryImages/' + activityDetail['category'] + '.jpg'" />
                <p-chip *ngIf="activityDetail.isCancelled" label="CANCELED" class="chipC" [style]="{'background-color':'rgba(220, 53, 69, 0.4)','color':'#fff','border-radius':'6px'}" />
                <div class="overlay-content flex justify-content-between">
                    <div >
                        <h3 class="font-bold">{{activityDetail.title}}</h3>
                        <p class="font-bold">{{ activityDetail['date'] | date:'d MMM yyyy ' }} at {{ activityDetail['date']| date:'h:mm a' }}</p>
                        <p class="font-bold">hosted by <a class="text-decoration-none">{{activityDetail.hostDisplayName}}</a></p>
                    </div>
                    @if (activityDetail.isHost) {
                        <div class="flex gap-2 align-items-end mb-2">
                            <p-button (onClick)="updateAttendance(activityDetail.id)"  *ngIf="activityDetail.isCancelled"  label="RE-ACTIVE ACTIVITY"  [text]="true" [style]="{'background-color':'rgba(40, 167, 69, 0.4)','color':'#fff','border-radius':'6px'}"/>
                            <p-button  (onClick)="updateAttendance(activityDetail.id)" *ngIf="!activityDetail.isCancelled" label="CANCEL ACTIVITY"  [text]="true" [style]="{'background-color':'rgba(220, 53, 69, 0.4)','color':'#fff','border-radius':'6px'}"/>
                            <p-button label="MANAGE EVENT" [style]="{'background-color':'rgba(13, 202, 240, 0.4)','color':'#fff','border-radius':'6px'}" 
                                (onClick)="goToEdit(activityDetail.id)" [text]="true" [disabled]="activityDetail.isCancelled" />
        
                        </div>
                    }@else{
                        <div class="flex gap-2 align-items-end mb-2">
                          <p-button (onClick)="updateAttendance(activityDetail.id)" [disabled]="activityDetail.isCancelled"
                           severity="primary" *ngIf="activityDetail.isGoing" label="Cancel Attendence"  [text]="true" [style]="{'color':'#fff','border-radius':'6px'}"/>
                          <p-button (onClick)="updateAttendance(activityDetail.id)" [disabled]="activityDetail.isCancelled"
                           severity="info" *ngIf="!activityDetail.isGoing" label="Join Activity"  [text]="true" [style]="{'color':'#fff','border-radius':'6px'}"/>   
                        </div>
                    }
                </div>
            </div>

            
            <!--  -->
            <div class="mt-2">
             <p-card  [style]="{'border-radius':'15px'}">
                <div class="flex gap-4">
                    <i class="bi bi-info-circle-fill text-2xl"></i>
                    <p class="mt-1">{{activityDetail.description}}</p>
                </div>
                <hr>
                <div class="flex gap-4">
                    <i class="bi bi-calendar-date-fill text-2xl"></i>
                    <p class="mt-1">{{activityDetail.date|date:'d MMM yyyy'}} at {{activityDetail.date|date:'h:mm a'}}</p>
                </div>
                <hr>
                <div class="flex flex-column gap-2">
                    <div class="flex justify-content-between">
                        <div class=" flex gap-4">
                            <i class="bi bi-geo-alt-fill text-2xl"></i>
                            <p class="mt-1">{{activityDetail.venue}},{{activityDetail.city}}</p>
                        </div>
                        <p-button (onClick)="mapOpen = !mapOpen" [icon]="mapOpen?'pi pi-times':'bi bi-geo-alt-fill'" label="map" [style]="{'border-radius':'10px'}" />
                    </div>
                    <div *ngIf="mapOpen">
                       <app-map [latitude]="activityDetail.latitude" [longitude]="activityDetail.longitude"></app-map>
                    </div>
                </div>
             </p-card>   
            </div>

            <!--  -->
            <div class="mt-2">
                <p-card  [style]="{'border-radius':'15px'}">
                    <p-toolbar [style]="{'background-color':'rgb(44, 44, 250)'}">
                        <div class="text-center w-100">
                            <h3 class="text-white ">Chat about this event</h3>
                        </div>
                    </p-toolbar>
                    <div class="flex flex-column">
                        <div class="flex align-items-center gap-2">
                            <input placeholder="Enter your comment" [(ngModel)]="newComment" 
                             type="text" pInputText class="w-100 mt-2 p-3" />
                            <p-button icon="pi pi-send" (onClick)="sendComment()" [disabled]="!newComment"
                             label="SEND" class="mt-2" [style]="{'border-radius':'10px'}" />   
                        </div>
                        @for (comment of comments; track comment.id) {
                            <div class="flex pl-4 pt-4 align-items-center">
                            <p-avatar  styleClass="mr-4" size="xlarge" shape="circle"
                            [image]="comment.imageUrl?comment.imageUrl:'../../../assets/images/user.png'" />
                            <div>
                                <h4 class="font-bold" style="color: blue;">{{comment.displayName}}</h4>
                                <p>{{comment.body}}</p>
                            </div>
                            </div>
                        }
                    </div>
                </p-card>
            </div>
        </div>
        <!--  --> <!--  --> <!--  --> <!--  --> <!--  --> <!--  --> <!--  --> <!--  --> <!--  -->
        <div class="col-4">
              <div >
                <p-card  [style]="{'border-radius':'15px'}">
                    <p-toolbar [style]="{'background-color':'rgb(44, 44, 250)'}">
                        <div class="text-center w-100">
                            <h4 class="text-white ">{{activityDetail.attendees.length}} people is going</h4>
                        </div>
                    </p-toolbar>
                    @for (item of activityDetail.attendees; track item.id) {

                        <div class="flex mt-3 justify-content-between">
                               <div class="flex align-items-center">
                                    <p-avatar [image]="item.imageUrl?item.imageUrl:'../../../assets/images/user.png'"  styleClass="mr-2" size="xlarge" shape="circle" />
                                    <h4 class="font-bold mt-3">{{item.displayName}}</h4>
                                    <p *ngIf="item.following" class="font-bold mt-4 ml-3" style="color: #F59E0B;">following</p>
                                </div>
                                <div class="flex flex-column gap-1" *ngIf="activityDetail.hostId===item.id">
                                    <p-button label="Host" severity="warning" [style]="{'border-radius':'5px','box-shadow': '0 4px 10px rgba(0, 0, 0, 0.2)'}" />
                                    
                                </div>
                           </div>
                    }



                </p-card>
            </div>
            


        </div>




    </div>




    }












</div>