
<div class="flex justify-content-center w-full " style="height: 100%;" >
    <p-card   class="p-2 w-11 mt-5" [style]="{'height':'100%'}">
        <div class="flex flex-column align-items-center gap-6">
            <i style="color: blue;" class="pi pi-filter-slash text-8xl"></i>
            <h1>Oops!We Could Not Find What Are You Looking For... </h1>
            <p-button (onClick)="navigate()" label="RETURN TO THE ACTIVITIES PAGE" [text]="true" severity="info" />
        </div>
    </p-card>

</div>


